  <main id="main">

    <section class="inner-page">
      <div class="container">
        <!-- Place <div> tag where you want the feed to appear -->
        <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank"
            class="crt-logo crt-tag"></a></div>
        <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
        <script type="text/javascript">
          /* curator-feed-default-feed-layout */
          (function () {
            var i, e, d = document, s = "script"; i = d.createElement("script"); i.async = 1;
            i.src = "https://cdn.curator.io/published/aa4ab036-3d84-453e-aa30-ed49604fe4a6.js";
            e = d.getElementsByTagName(s)[0]; e.parentNode.insertBefore(i, e);
          })();
        </script>
      </div>
    </section>

  </main><!-- End #main -->